/* Conf */

:root {

    --max-width: 670px;

    --header-font: 'Caprasimo', serif;
    --info-font: 'Bree Serif', serif;
    --console-font: 'Inconsolata', monospace;
    --console-font-bold: 'Inconsolata Bold', monospace;

    --transition-timing: 0.5s;

}


/* Composition */

body {
    background-attachment: fixed;
    background-color: var(--primary-tone1);
    background-image: linear-gradient(180deg, var(--primary-shade2) 0% 0%, var(--primary-tone1) 100% 100%);
    box-sizing: border-box;
    font-size: 16px;
    /* prevent FOUC: */
    opacity: 1 !important;
    visibility: visible !important;
}

h1 {
    color: var(--secondary-tone2);
    font-family: var(--header-font);
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    font-size: 4rem;
    line-height: 1.1;
    margin: 1.5rem 0 0.25rem;
}

header,
main,
footer {
    margin: 1rem auto;
    max-width: var(--max-width);
    padding: 0.25rem 0;
}

    main h2 {
        color: var(--grey-shade2);
        font-family: var(--console-font);
        font-size: 1.25rem;
        line-height: 1.25;
        font-weight: 600;
        margin: 0.5rem 0 0;
    }

        main h2 .cmd {
            color: var(--grey-shade2);
            font-weight: 400;
        }

    main p {
        margin: 0 0 1rem;
    }

    footer {
        margin-top: 1.5rem;
    }

        footer h2 {
            color: var(--secondary-tint2-alpha4);
            font-family: var(--info-font);
            font-size: 0.8rem;
            margin: 0;
            text-align: center;
        }   


/* Layout */

.tagline {
    color: var(--secondary-tone3);
    font-family: var(--info-font);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.console {
    background-color: var(--black-alpha1);
    border: 3px solid var(--secondary-tint1-alpha3);
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    color: var(--grey-tint3);
    font-family: var(--console-font);
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 1.25rem auto;
    padding: 0.75rem 1.5rem 1.5rem;
}

    .console a,
    .console strong {
        font-family: var(--console-font-bold);
    }

    .console a {
        display: inline-block;
        color: var(--secondary-tone1);
        transition: background-color var(--transition-timing);
    }

    .console a:hover {
        background-color: var(--grey-shade3);
        border-radius: 4px;
        margin: -0.1rem -0.4rem -0.2rem;
        padding: 0.1rem 0.4rem 0.2rem;
    }

    .console a:active {
        scale: 0.97;
    }

.tools {
    margin-bottom: 1.5rem !important;
}

    .tools .tool {
        border: 2px solid var(--secondary-shade3-alpha2);
        border-radius: 0.5rem;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        margin: 0.5rem 0 0.75rem;
        min-height: 100px;
        padding: 1rem;
    }

        .tools .tool .icon {
            border-radius: 0.5rem;
            float: left;
            margin-left: 0.5rem;
            opacity: 0.75;
            padding: 10px;
        }

            .tools .tool .icon img {
                height: 80px;
                width: 80px;
            }

        .tools .tool .desc {
            margin-left: 132px;        
        }

        .tools .tool a {
            background-color: transparent !important;
        }

        .tools .tool h3 {
            color: var(--secondary);
            font-size: 1.25rem;
            margin: 0;
        }

        .tools .tool p {
            margin: 0;
        }

.tech-stack {
    list-style: none;
    margin: 0.75rem auto;
    padding: 0;
    width: fit-content;
}

    .tech-stack li {
        color: var(--secondary-tint1-alpha3);
        display: inline-block;
        font-family: var(--info-font);
        font-size: 0.8rem;
    }

        .tech-stack li a {
            background-color: var(--primary-tone2-alpha3);
            border-radius: 1em;
            color: var(--secondary-tint1-alpha3);
            display: inline-block;
            line-height: 2em;
            margin: 0 0.1rem;
            padding: 0 0.6rem;
            text-decoration: none;
            transition: background-color var(--transition-timing), box-shadow var(--transition-timing);
        }

        .tech-stack li a:hover {
            background-color: var(--primary-shade2-alpha3);
            box-shadow: 1px 1px 3px var(--primary-shade4-alpha3);
        }

        .tech-stack li a:active {
            scale: 0.97;
        }


/* Card interactions */
.card.link:hover {
    background-color: var(--black);
    border-color: var(--secondary-shade3);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: background-color var(--transition-timing), box-shadow var(--transition-timing), border var(--transition-timing);
}

    .card.link:hover .icon {
        opacity: 1;
        transition: opacity var(--transition-timing);
    }

.card.link:active {
    box-shadow: 4px 4px 7px rgba(0,0,0,0.8);
    scale: 0.97;
}

.card:not(.card.link):hover {
    cursor: not-allowed;
}

/* Blink cursor */
.cursor .cmd {
    animation: blinker 1.7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
