:root {
    /* --tulip:         #B8C299;
    --light-mint:    #C1DBBF;
    
    --khaki:         #615D4E;
    --dark-khaki:    #524F43;
    --darker-khaki:  #403D35;

    --light-grey:    #DEDEDE;
    --midlight-grey: #808080;
    --mid-grey:      #616161;
    --dark-grey:     #292929;
    --graphite:      #1C1C1C; */

    --max-width: 720px;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(180deg, var(--khaki-shade2) 0% 0%, var(--khaki-tone1) 100% 100%);
    box-sizing: border-box;
    font-size: 16px;
    min-height: 100vh;
}

main {
    margin: 2rem auto;
    max-width: var(--max-width);
}

h1, h2 {
    color: var(--tulip-tone3);
    font-family: Caprasimo, serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

h1 {
    margin: 1.25rem 0 0.25rem;
    font-size: 4rem;
    line-height: 1.1;
}

h2 {
    margin: 1rem 0 -0.5rem;
    font-size: 3rem;
    line-height: 1.1;
}

.tag {
    color: var(--tulip-tone1);
    font-family: 'Bree Serif';
    font-size: 1.2rem;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 0 1.25rem;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    width: fit-content;
    line-height: 1.4;
}

.console {
    background-color: var(--black-alpha1);
    border: 3px solid var(--tulip-tone4-alpha3);
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    color: var(--grey-tint3);
    font-family: Inconsolata;
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 1.5rem 0;
    padding: 1.25rem 1.5rem;
}

    .console a {
        color: var(--tulip);
        font-weight: 600;
    }

    .console a:hover {
        background-color: var(--grey-shade3);
    }

.line + .line {
    margin-top: 1rem;
}

    .line .prompt {
        color: var(--grey-shade2);
    }

    .line .name {
        color: var(--tulip);
        font-weight: 600;
    }

.tool {
    /* background-color: var(--black-alpha3); */
    border: 2px solid var(--tulip-shade3-alpha2);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin: 0.5rem 0;
    padding: 1rem;
    min-height: 100px;
}

    .tool + .tool {
        margin-top: 1.5rem;
    }

    .tool .icon {
        /* background-color: var(--khaki-shade3-alpha1); */
        border-radius: 0.5rem;
        float: left;
        margin-left: 0.5rem;
        opacity: 0.9;
        padding: 10px;
    }

        .tool .icon img {
            height: 80px;
            width: 80px;
        }

    .tool .desc {
        margin-left: 132px;        
    }

    .tool a {
        background-color: transparent !important;
        text-decoration: none;
    }

    .tool h3 {
        color: var(--tulip);
        font-size: 1.25rem;
        margin: 0;
    }

    .tool p {
        margin: 0;
    }

.colophon {
    margin: 2.5rem 0;
}

.btn:hover {
    background-color: var(--black);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

    btn:hover .icon {
        opacity: 1;
    }

.btn:active {
    box-shadow: 4px 4px 7px rgba(0,0,0,0.8);
    scale: 0.97;
}

.tool:not(.btn):hover {
    cursor: not-allowed;
}
