:root {
    --tulip:         #B8C299;
    --light-mint:    #C1DBBF;
    
    --khaki:         #615D4E;
    --dark-khaki:    #524F43;
    --darker-khaki:  #403D35;

    --light-grey:    #DEDEDE;
    --midlight-grey: #808080;
    --mid-grey:      #616161;
    --dark-grey:     #292929;
    --graphite:      #1C1C1C;

    --max-width: 720px;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(180deg, var(--dark-khaki) 0% 0%, var(--khaki) 100% 100%);
    box-sizing: border-box;
    font-size: 16px;
    min-height: 100vh;
}

main {
    margin: 1rem auto;
    max-width: var(--max-width);
}

h1, h2 {
    color: var(--light-mint);
    font-family: Caprasimo, serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

h1 {
    margin: 1.25rem 0 0.25rem;
    font-size: 4rem;
}

h2 {
    margin: 1rem 0 -0.5rem;
    font-size: 3rem;
}

.tag {
    /* background-color: color-mix( in srgb, var(--light-grey) 5%, transparent 95% );
    border-radius: 1.5rem;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3); */
    color: var(--graphite);
    font-family: 'Bree Serif';
    font-size: 1.2rem;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 0 1.25rem;
    text-align: center;
    text-shadow:  1px 1px 3px 0px var(--light-mint);
    width: fit-content;
}

.console {
    background-color: var(--graphite);
    border: 1px solid var(--tulip);
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    color: var(--light-grey);
    font-family: Inconsolata;
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 1.5rem 0;
    padding: 1.25rem 1.5rem;
}

    .console a {
        color: var(--light-mint);
        font-weight: 600;
    }

    .console a:hover {
        background-color: rgba(255,255,255,0.25);
    }

.line + .line {
    margin-top: 1rem;
}

    .line .prompt {
        color: var(--mid-grey);
    }

    .line .name {
        color: var(--light-mint);
        font-weight: 600;
    }

.tool {
    background-color: var(--dark-grey);
    border: 1px solid var(--mid-grey);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin: 0.5rem 0;
    padding: 1rem;
}

    .tool + .tool {
        margin-top: 1.5rem;
    }

    .tool a {
        background-color: transparent !important;
        text-decoration: none;
    }

    .tool h3 {
        color: var(--light-mint);
        font-size: 1.25rem;
        margin: 0;
    }

    .tool p {
        margin: 0;
    }

.colophon {
    margin: 2.5rem 0;
}

.btn:hover {
    background-color: var(--darker-khaki);
    border-color: var(--midlight-grey);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

.btn:active {
    box-shadow: 4px 4px 7px rgba(0,0,0,0.8);
    scale: 0.97;
}

.tool:not(.btn):hover {
    cursor: not-allowed;
}
